.svn/
.vs/
*.sdf
debug/
release/
packages/
ipch/
*.opensdf
*.opendb
*.pdb
*.vc.db
setup.*.exe
bin/Classifier.Interfaces.dll
bin/Microsoft.Office.Tools.*
bin/myoddweb.classifier.dll
bin/myoddweb.classifier.vsto
bin/Microsoft.VisualStudio.*
bin/myoddweb.classifier.dll.manifest
bin/x86/Classifier.Interop.dll
bin/x86/Classifier.Interfaces.dll
bin/x64/Classifier.Interop.dll
bin/x64/Classifier.Interfaces.dll
bin/**/Microsoft.Office.Tools.*
bin/**/Microsoft.VisualStudio*
bin/**/Mono*
bin/**/NUnit*
bin/**/Newtonsoft*
bin/**/Moq*
bin/**/Castle*
bin/**/myoddweb.classifier.*
bin/**/myoddweb.classifierUnitTest*
bin/myoddweb.classifierUnitTest*
*.user
obj/

bin/**/*.classifier