.svn/
.vs/
*.sdf
debug/
release/
*.opensdf
*.opendb
*.pdb
bin/Classifier.Interfaces.dll
bin/Microsoft.Office.Tools.Common.dll
bin/Microsoft.Office.Tools.Common.v4.0.Utilities.dll
bin/Microsoft.Office.Tools.Common.v4.0.Utilities.xml
bin/Microsoft.Office.Tools.Common.xml
bin/Microsoft.Office.Tools.dll
bin/Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll
bin/Microsoft.Office.Tools.Outlook.dll
bin/Microsoft.Office.Tools.Outlook.v4.0.Utilities.xml
bin/Microsoft.Office.Tools.Outlook.xml
bin/myoddweb.classifier.dll
bin/myoddweb.classifier.vsto
bin/Microsoft.Office.Tools.v4.0.Framework.dll
bin/Microsoft.Office.Tools.v4.0.Framework.xml
bin/Microsoft.VisualStudio.Tools.Applications.Runtime.xml
bin/Microsoft.VisualStudio.Tools.Applications.Runtime.dll
bin/myoddweb.classifier.dll.manifest
bin/x86/Classifier.Interop.dll
bin/x86/Classifier.Interfaces.dll
bin/x64/Classifier.Interop.dll
bin/x64/Classifier.Interfaces.dll
bin/myoddweb.classifierUnitTest.dll
bin/myoddweb.classifierUnitTest64.dll